.news {
    margin: 20px;
}
.newsList {
    width: 1000px;
    margin: 0 auto;
}
.date {
    font-size: 14px;
    margin-top: 2px;
    float: left;
}
.title {
    font-size: 20px;
    font-weight: bold;
}