.oneNews {
    width: 1000px;
    margin: 20px auto;
}
.returnPage {
    border: 1px solid blue;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.formComment{
    width: 800px;
    margin: 25px auto;
}
.comment {
    margin: 10px auto;
}
.oneNewsImage {
    width: 400px;
    height: 400px;
    margin: 20px auto;
}